Linear Regression using OLS method:
    The Ordinary Least Squares (OLS) method is an algorithm used in linear regression analysis.where,we obtain a single slope       (m) and a single intercept (b). 
    These coefficients describe the best-fit line through the data, which minimizes the sum of the squared differences between       the observed values and the values predicted by the line i,e Cost/Loss function and we ultimately get a best fit line. 
    For Simple Linear Regression, we get one "m" and one intercept "b", whereas, in multiple linear Regression, we get one slope corresponding to each features but only one intercept.

## Simple Linear Regression (OLS Method)

Ler's take a very simple data,it contains one independent and one dependent variable."study_hr" and "score".

In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings("ignore")

%matplotlib inline

In [2]:
data= pd.DataFrame({"study_hr": [3, 5, 2, 7, 4, 6, 1, 3, 5, 4],"score": [75, 82, 69, 88, 78, 85, 62, 72, 80, 76]})

The Ordinary Least Squares (OLS) method aims to minimize the loss function, which represents the error between the actual data points and the points predicted by the linear model. This error, also known as the residual, is the difference between the actual values and the values on the predicted straight line. By minimizing the sum of the squared residuals, the OLS method finds the optimal slope (m) and intercept (b) of the line. These parameters define the best-fitting straight line for the given data, which can then be used to predict future values.

slope(m)=m_numerator/m_denominator
        =np.sum((x_i-x_mean)(y_i)-y_mean)/np.sum((x_i-x_mean)**2
                                                 
and ,Intercept (b)= (y_mean-m*x_mean)

Here, m and b will be determined on the basis of trained data.

In [3]:
def simple_ols(x_train,y_train):
    
    x_bar=np.mean(x_train)
    y_bar=np.mean(y_train)
    m_nume = np.sum((x_train - x_bar) * (y_train - y_bar))
    m_denom = np.sum((x_train - x_bar)**2)
    
    m = m_nume / m_denom
    b = y_bar - m * x_bar
    
    return m, b

def predict_value(x_test, m, b):
    return m * x_test + b

In [4]:
data.head()

   study_hr  score
0         3     75
1         5     82
2         2     69
3         7     88
4         4     78

In [5]:
x=data["study_hr"]
y=data["score"]

In [6]:
x_train,x_test,y_train,y_test=train_test_split(x,y, test_size=0.3)

In [7]:
x_train,y_train

(8    5
 2    2
 1    5
 5    6
 9    4
 7    3
 3    7
 Name: study_hr, dtype: int64,
 8    80
 2    69
 1    82
 5    85
 9    76
 7    72
 3    88
 Name: score, dtype: int64)

In [8]:
x_train.shape,y_train.shape

((7,), (7,))

In [9]:
x_test,y_test

(6    1
 0    3
 4    4
 Name: study_hr, dtype: int64,
 6    62
 0    75
 4    78
 Name: score, dtype: int64)

In [10]:
## Now, let's call the function

m,b=simple_ols(x_train,y_train)
print("slope of line:", m)
print("Intercept of line:",b)

slope of line: 3.983870967741935
Intercept of line: 60.64516129032259

In [11]:
predicted_score=predict_value(x_test, m, b)
print("Predicted_score : \n",predicted_score)

Predicted_score :
 6    64.629032
0    72.596774
4    76.580645
Name: study_hr, dtype: float64

In [12]:
y_test

6    62
0    75
4    78
Name: score, dtype: int64